
header {
    max-width: 800px;
    margin: 20px auto

}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(225, 147, 45);
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}

nav img {
    height: 40px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


nav ul li {
 margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

