.box {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #FF8C00;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

.box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form, .aantalgerechten {
    margin-bottom: 10px;
    height: 200px;
    padding-left: 250px;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

input[type="number"] {
    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    bottom: 34px;
    left: 370px;

}

button {
    display: inline-block;
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #e07b00;
}

footer {
    background-color: #FF8C00;
    color: white;
    text-align: center;
    position: relative;
    bottom: -10px;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.vlees {
    background-color: #ff6961;
}

.vis {
    background-color: #aec6cf;
    
}

.vegetarisch {
    background-color: #77dd77;
}

.toegevoegd {
    background-color: #77dd77;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 110px;
}
